@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --bg-color:#0D7C66;
    --primary-color:#BDE8CA;
    --second-color: #D7C3F1;
    --font: "Nunito":"Nunito", sans-serif;

}

body{
        background-color: var(--bg-color);
        color: var(--primary-color);
        font: var(--font);
        height: 100vh;
        margin: 0;
}
